.p-main-nav {
  background-color: $color-gray1;
  padding-top: 3rem;
  &__title {
    color: $color-black;
    display: flex;
    font-size: 3rem;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 1px $color-gray2;
    padding-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  &__ver {
    color: $color-gray3;
    font-size: 2rem;
    font-weight: 300;
  }
}
